*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins' , sans-serif;
    box-sizing: border-box;
    
}

.containerr{
    width: 100%;
    height: 50%;
    background: #f9fafc;
    display: flex;
    align-items: center;
    justify-content: center;
}

.skills h2{
    font-weight: 400;
    letter-spacing: 1px;
    margin-top: 35px;
    margin-bottom: 5px;
    color: #0a0909;
    font-size: 16px;
}
.progress-bar{
    background:#847d7d;
    width:300px;
    height: 20px;
    border-radius: 5px;

}
.progress-bar div{
    height: 20px;
    border-radius: 5px;
    width:0%;
}

.progress-bar div span{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background: #222;
    float: right;
    margin-top: -10px;
    margin-right: -20px;
    font-size: 10px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.html{
    background-color: #f8e71c  ;
    animation: html 2s linear forwards;
    
}

.css{
    background-color: #4CAF50;
    animation: css 5s linear forwards;
}
.javaScript{
    background-color: #2196F3 ;
    animation: javaScript 7s linear forwards;
}
.python{
    background-color:#8B008B ;
    animation: python 10s linear forwards;
  
}




.html span{
    border: 1px solid #FFDAB9 ;
}
.css span{
    border: 1px solid #C8E6C9 ;
}
.javaScript span{
    border: 1px solid #BBDEFB ;
}
.python span{
    border: 1px solid #E6E6FA ;
}


@keyframes html {
    100%{
        width:86%;
    }
    
}
@keyframes css {
    100%{
        width:22%;
    }
    
}
@keyframes javaScript {
    100%{
        width:55%;
    }
    
}
@keyframes python {
    100%{
        width:90%;
    }
    

}